@import "tailwindcss";

@layer utilities {
    .font-century-gothic {
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    }

    .font-samarkan {
        font-family: "Samarkan";
    }
}

@font-face {
    font-family: "Samarkan";
    src: url("/fonts/samarkan/samarkan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .font-marines {
        font-family: "Marines", sans-serif;
        /* Placeholder */
    }

    .animate-spin-slow {
        animation: spin 40s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .animate-clock {
        animation: clock-wipe 1s cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes clock-wipe {
        0% {
            clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        }

        25% {
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
        }

        50% {
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
        }

        75% {
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%, 0 50%);
        }

        100% {
            clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
        }
    }
}